@import "compass";

html {
  overflow-y: scroll;
}

body {
  font-family: 'Droid Serif', serif;
  
  a {
    text-decoration: none;
    color: #000;
    
    &:visited {
      color: #828282;
    }
  }
}

.main-container {
  max-width: 1024px;
  margin: 20px auto;
}

#main-header {
  font-size: 20px;
  font-weight: 700;
}

#reads {
  #reads-list {
    padding: 0;
    margin: 0;
    min-height: 400px;
    list-style-type: none;
    
    &.loading {
      background: url("/assets/loading.gif") center center no-repeat;
    }
    
    .read {
      display: none;
      margin-bottom: 15px;
      padding-bottom: 15px;
      line-height: 24px;
      border-bottom: dashed 1px #CCC;
      
      .read-meta-data {
        font-size: 12px;
        color: #828282;
        
        a {
          color: #828282;
        }
      }
    }
  }
}