<section id="reads">
  <ol id="reads-list" class="loading">
    <script id="read" type="text/html">
      <li class="read">
        <a href="{{url}}" target="_blank">{{title}}</a>
        
        <div class="read-meta-data">
          <span class="date">{{timeAgo}}</span>
        </div>
      </li>
    </script>
  </ol>
  
  <script>
    $("#reads-list").readRetriever();
  </script>
</section>