<section id="reads" class="main-container">
  <ol id="reads-list" class="loading">
    <script id="read" type="text/html">
      <li class="read">
        <a href="{{url}}" target="_blank">{{title}}</a>
        
        <div class="read-meta-data">
          <span class="date">{{pretty_created}}</span> on 
          <a href="{{source_url}}" target="_blank" class="source">{{source}}</a> 
          - 
          <a href="{{comments_url}}" target="_blank">{{comments_count}} comments</a>
        </div>
      </li>
    </script>
  </ol>
  
  <script>
    $("#reads-list").readRetriever();
  </script>
</section>