<section id="reads">
  <ol id="reads-list" class="loading">
    <script id="read" type="text/html">
      <li class="read">
        <a href="{{url}}" target="_blank">
          {{title}}        
          <span class="time-ago">{{timeAgo}}</span>
        </a>
      </li>
    </script>
  </ol>
  
  <script>
    $("#reads-list").readRetriever();
  </script>
</section>